@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <img src="~/ilo.jpg"style="width:1000px;" />
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
